<%- include("_header") -%>
    <form action="/cadastrar" method="post">
        <b>User</b><br>
        <input type="text" name="Login"><br>
        <b>Password</b> <br>
        <input type="password" name="Password">
        <input type="submit" value="Cadastrar">
    </form>
    <%- include("_footer") -%>