<%- include("_header") -%>
    <form action="/" method="post">
        <b>User</b><br>
        <input type="text" name="Login"><br>
        <b>Password</b> <br>
        <input type="password" name="Password">
        <input type="submit" value="Logar">
        <br><br>
        <a href='/cadastrar'>
            Cadastrar
          </a>
    </form>
    <%- include("_footer") -%>